* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: rgb(42, 42, 42);
	color: #bbbbbb;
}

.container {
	margin: 1rem;
	text-align: center;
}
.container * {
	font-size: 3rem;
	line-height: 1.2em;
}
.container p {
	font-size: 2rem;
	margin: auto 30vw;
}
button#main {
	border-radius: 10em;
	border: 10px solid #cccccc;
	padding: 0;
	font-weight: bold;
	background-color: rgb(0, 0, 0);
	color: rgb(222, 123, 158);
	margin: 1em auto;
	height: 5em;
	width: 5em;
	text-align: center;
}
nav {
	background-color: rgb(31, 31, 31);
	color: #9be2a1;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 2rem;
	padding: 0 1rem;
}

.site-title {
	font-size: 2rem;
	display: flex;
	justify-content: center;
	width: 100vw;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 0em;
}
nav a {
	color: inherit;
	text-decoration: none;
	height: 100%;
	align-items: center;
}

.material-symbols-outlined#reroll {
	padding: 0 0;
	font-size: 2em;
}
.material-symbols-outlined {
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
	font-size: 2.5em;
	padding: 0 4rem;
	color: inherit;
}
nav li.active {
	background-color: rgb(59, 78, 53);
	color: rgb(222, 123, 158);
}
nav li:hover {
	background-color: rgb(89, 118, 80);
}
h3 {
	font-size: 5rem;
}
.quotes-page {
	margin-top: 25vh;
}
.italic {
	font-style: italic;
	font-weight: lighter;
	line-height: 2em;
}
.fade-in {
	animation: fillin 1.2s ease 2s 1;
	animation-fill-mode: backwards;
}
.fade-in-fast {
	animation: fillin 700ms ease 0.8s 1;
	animation-fill-mode: backwards;
}
.fade-in-med {
	animation: fillin 850ms ease 1.6s 1;
	font-size: 2.5em;
}
button.big-round {
	border-radius: 300px;
	background-image: linear-gradient(vertical, #009000, #006300);
	padding: 2rem;
	margin: 15vh auto;
	height: 25vh;
	width: 25vh;
	animation: swell 10s ease-in-out 1s alternate infinite;
	animation-fill-mode: both;
	font-size: 0.5em;
	color: #dddddd;
}
@keyframes fillin {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes swell {
	0% {
		background-color: rgb(21, 21, 21);
		height: 24vh;
		width: 24vh;
		margin-top: 15vh;
	}
	70% {
		background-color: rgb(60, 59, 59);
		height: 26vh;
		width: 26vh;
		margin-top: 16vh;
	}
}
@media only screen and (max-width: 1000px) {
	.material-symbols-outlined {
		font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
		font-size: 2em;
		padding: 0 3rem;
		line-height: auto;
	}
}
@media only screen and (max-width: 700px) {
	.site-title {
		bottom: 0px;
		position: absolute;
	}
	.material-symbols-outlined {
		font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
		font-size: 1.5em;
		padding: 0 1rem;
		line-height: auto;
		display: inline-flex;
	}
	.container * {
		font-size: 2rem;
	}
	button {
		border-radius: 0.5em;
		padding: 0.2em 0.4em;
		font-weight: bold;
		font-size: 1em;
		background-color: black;
		color: rgb(222, 123, 158);
		margin: 0.5em auto;
	}
}
@media only screen and (max-width: 500px) {
	.site-title {
		bottom: 0px;
		position: absolute;
	}
	.material-symbols-outlined {
		font-size: 1.5em;
		padding: 0 0.5rem;
	}
}
